* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
}
h1 {
	font-size: 2.5rem;
	padding: 40px;
	text-align: center;
}

.main-container {
	display: flex;
	padding: 10px;
	margin: 10px;
	font-size: 1.2rem;
}

.form-container {
	flex-basis: 20%;
	padding-right: 20px;	
}

.medicineTable {
	flex: 1;
	border-collapse: collapse;
	width: 100%;
	height: 20%;	
}

.medicineTable th, .medicineTable td {
	padding: 10px;
	border: 1px solid #507c3e;
	text-align: center;
	font-size: 1.2rem;
}

.medicineTable th {
	background-color: #bae9a7;
}

.medicineTable tbody tr:nth-child(even) {
	background-color: #bae9a7;
}

.medicineTable tbody tr:hover {
	background-color: #ddd;
}

.medicineForm input[type="text"],
.medicineForm input[type="date"],
.medicineForm input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#formType {
	width: calc(100% - 20px);
	display: flex;
	flex-direction: column;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	
}

button {
	background-color: #507c3e;
	color: white;
	border: none;
	padding: 10px 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1.2rem;
	cursor: pointer;
}

button:hover {
	background-color:#bae9a7 ;
}

#error-message {
	color: red;
 }

@media screen and (max-width: 768px) {
	.main-container {
		 flex-direction: column;
		 align-items: center;
	}

	.form-container {
		 flex-basis: 100%;
		 padding-right: 0;
		 margin-bottom: 20px;
	}

	.medicineTable {
		 flex: 1;
		 max-width: 100%;
	}
}